/* GLOBALS */
html {
    font-family: 'Open Sans', sans-serif;
    overflow-y: scroll;
}

/* SØK */
.sok_form {

}

.sok_text, #sok_btn {
    padding:6px 15px 6px 15px;
    border-radius: 2px;
}

.sok_text {
    border: 1px solid #6081bc;

}

#sok_btn {
    position:relative;
    border: 1px solid #6081bc;
    color: #fcfeff;
    background: #6081bc;
    cursor: pointer;
}

/* CHATBOX */
.chatbox-container {
    width: 64%;
    height: 300px;
    overflow: hidden;
}

#inline_fix {
    display: block;
    overflow: hidden;
    padding: 0 5px;
}

#meldinger {
    width: 100%;
    height: 80%;
    background: #b9b9b9;
    padding: 5px 5px 5px 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

#chat_msg_text {
    width: 100%;
    display: block;
    box-shadow: none;
    padding: 10px;
    margin-left: -5px;
    border: solid 3px #b1b1b1;
    -webkit-transition: border .3s;
    -moz-transition: border .3s;
    -o-transition: border .3s;
    transition: border .3s;
}

#chat_send {
    display: block;
    overflow: hidden;
    padding: 0 15px;
    height: 41px;
    background-color: #7fa0e0;
    color: white;
    border: none;
    border-radius: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

#chat_laster {
    position: relative;
    display: block;
    top: 100px;
    color: rgba(0, 0, 0, 0.50);
}

.melding_rad {
    clear: both;
}

.melding_rad > p {
    font-size: 0.85em;
    margin: 5px 0 0 0;
}

.chat_bnavn {
    float: left;
    padding-left: 3px;
    margin: 0;
}

.regular {
    color: #168212;
    text-shadow: 0 0 2px rgba(29, 255, 19, 1);
}

.admin {
    font-weight: bold;
    color: rgb(147, 25, 26);
    text-shadow: 0 0 2px #f71822;
}

.chat_msg {
    clear: both;
    float: left;
    width: 80%;
    padding: 0 3px 3px 3px;
}

.chat_footer {
    padding-top: 5px;
}

.chat_dato {
    float: right !important;
}

.chatbox-bottom {
    width: 100%;
}

.chatbox-msg {
    width: 79%;
    height: 20%;
    resize: none;
}

.chat-box-username {
    float: left;
    padding-right: 5px;
}

#chatbox-msg:focus {
    border: 2px solid green;
    -webkit-transition: border .3s;
    -moz-transition: border .3s;
    -o-transition: border .3s;
    transition: border .3s;
}

#chatbox-send {
}

/* TEXTAREA */
.textarea {
    width: 34%;
}

/* ALLE TYPER POPUP-BOKSER */
.popup-header {
    height: 30px;
    line-height: 60px;
    width: 93%;
    border-radius: 3px 3px 0 0;
    background: #24313c;
    vertical-align: middle;
}

.registrer-box-success, #registrer-mail-sendt, .registrer-box-loading, #registrer-box, #logginn-box, #registrer-feil, #ny_kat, #slett_kat, #slett_ukat, #ny_ukat {
    display: none;
    position: fixed;
    margin-right: auto;
    margin-left: auto;
    right:0;
    left:0;
    top:50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: auto;
    width: 400px;
    padding-bottom: 20px;
    border-radius: 3px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
    -moz-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
    -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
    background: #24313c;
    z-index: 50;
}

.popup-container {
    padding: 0 20px 0 20px;
}

.popup-select {
    color: white;
    font-size: 1em;
    width: 100%;
    height: 40px;
    display: block;
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    padding-left: 7px;
    background: #7fa0e0;
}

.popup-select:hover {
    -webkit-transition:  .3s;
    -moz-transition:  .3s;
    -o-transition:  .3s;
    transition:  .3s;
    background: #5b78b5;
}

.popup-select option {
    font-size: 0.85em;
    background: #6599ff;
}

.popup-input {
    width: 100%;
    display: block;
    box-shadow: none;
    padding: 10px;
    border: solid 3px #b1b1b1;
    -webkit-transition: border .3s;
    -moz-transition: border .3s;
    -o-transition: border .3s;
    transition: border .3s;
}

.popup-input:focus {
    outline: none;
    border: solid 3px #60bb80;
}

.popup-divider:first-child {
    padding-top: 10px;
}

.popup-divider, .popup-divider-half {
    padding-top: 25px;
}

.popup-divider-half {
    width: 47%;
    position: inherit;
}

#feilPass, #ikkeAktiv, #sjekkBnavn, #sjekkEpost, #bnavnErr, #fnavnErr, #enavnErr, #epostErr, #epostErrTwo, #passErr, #passTwoErr {
    font-size: 0.7em;
    color: #f5f5f5;
    margin: 0;
    padding-top: 8px;
    line-height: 0;
    display: block;
    position: fixed;
    float: left;
}

#epostEndre {
    font-size: 0.7em;
    color: #f5f5f5;
    margin: 0;
    padding-top: 8px;
    line-height: 0;
    display: block;
    float: left
}

#sjekkBnavn, #sjekkEpost {
    display: inline-block;
}

#fnavnErr, #enavnErr {
    margin-top: 40px;
}

#ny_epost_submitt, #nytt_pass_submitt, #registrer_submitt, #logginn_submitt, #ny_kat_submit, #ny_ukat_submit {
    color: white;
    font-size: 1.3em;
    width: 100%;
    height: 40px;
    display: block;
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    background: #1ab188;
    margin-top: 25px;
    cursor: pointer;
}

#ny_epost_submitt:hover, #nytt_pass_submitt:hover, #registrer_submitt:hover, #logginn_submitt:hover, #ny_kat_submit:hover, #ny_kat_submit:hover {
    background: #179b77;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
    cursor: pointer;
}

#registrer-avbryt, .button-lukk {
    color: white;
    font-size: 1.3em;
    width: 93%;
    height: 40px;
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    background: #c92024;
}

#registrer-avbryt:hover {
    background: #b7080c;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
    cursor: pointer;
}

.button-lukk:hover {
    background: #b7080c;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
    cursor: pointer;
}

/* MAIN */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.page-header {
    padding-bottom: 10px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #dbdbdb;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.breadcrumb > li {
    display: inline-block;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.breadcrumb a {
    text-decoration: none;
    color: #aad;
    font-size: .85em;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.clearfix {
    clear: both;
}

.seperator {
    padding-top: 5px;
}

/* ICONS */
.main-table tbody tr td i { /* Forum kategori icons */
    padding-top: 10px;
}

.fa-caret-square-o-up, .fa-caret-square-o-down {
    margin-bottom: 2px;
    cursor: pointer;
    -webkit-transition: all .5s;
    -moz-transition: all .5s ;
    -o-transition: all .5s ;
    transition: all .5s ;
}

.fa-caret-square-o-down {
    color: #33e000;
}
.fa-caret-square-o-down:hover {
    color: #32b800;
}

.fa-caret-square-o-up {
    color: #e54c50;
}
.fa-caret-square-o-up:hover {
    color: #f24646;
}

.fa-times {
    padding-top: 15px;
    padding-right: 5px;
    cursor: pointer;
}

.black {
    color: #111111 !important;
}

.green {
    color: #6fe02a !important;
}

.green_bg {
    background: #6fe02a !important;
}

.white {
    color: #f5f5f5 !important;
}

.blue {
    color: #3847ff !important;
}

.cyan {
    color: #1ab188 !important;
}

.red {
    color: #d1080c !important;
}

.orange {
    color: #FFA500 !important;
}

.purple {
    color: #800080 !important;
}

/* BUTTONS */
.button-std {
    display: inline-block;
    padding: 7px 14px;
    background-color: #7fa0e0;
    color: white;
    border: none;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

/* TEXT */
.traad_innhold {
    padding: 0 15px 0 0;
    font-size: 1em;
    line-height: 1.5em;
}

.innlegg_innhold {
    padding: 0 15px 0 0;
    font-size: 1em;
    line-height: 1.5em;
}

.link-light {
    color: #99bcff;
}

#logo-text {
    text-decoration: none;
    color: #262626;
}

.h1 {
    margin: .67em 0;
    font-size: 1.5em;
}

.th_text {
    margin: .67em 0;
    font-size: 1.6em;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.7em;
    color: inherit
}

th .th_text a {
    text-decoration: underline;
    color: #3f45c6;
}

h1 {
    margin: .67em 0;
    font-size: 1.9em;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    font-weight: 400;
    line-height: 1;
    color: #777;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
    font-size: 65%;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    font-size: 75%;
}

/* HR */
.hr-popup {
    background: rgba(127, 160, 224, 0.5);
    border: 0;
    height: 1px;
    width: 93%;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
}

.hr-chat {
    width: 100%;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #dbdbdb;
}

/* FORUM */
table {
    background-color: transparent;
    border-spacing: 0;
}

th {
    background: #bfbfbf;
}

th:nth-child(1) {
    border-radius: 3px 0 0 0;
}

th:nth-last-child(1) {
    border-radius: 0 3px 0 0;
}

th {
    text-align: left
}

thead > tr > th {
    color: #262626;
    font-size: .85em;
}

tbody > tr > td > a {
    text-decoration: none;
    color: #4d4d4d;
    font-size: .8em;
}

tbody > tr > td > a:hover {
    text-decoration: underline;
    color: #333333;
}

.tablehide {
    opacity: .7;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.4;
    vertical-align: top;
    border-top: 1px solid #ddd
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd
}

.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
    border-top: 0
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #ddd;
}

.table-striped > tbody > tr:hover {
    background-color: #eee;
}

.forum .fa {
    width: 1em;
    text-align: center;
}

.forum.table th.rad-bredde-icon {
    width: 6em;
}

.forum.table th.rad-bredde {
    width: 6em;
}

.forum.table th.rad-bredde-2x {
    width: 14em;
}

.kat_delete {
    margin-bottom: 35px;
    color: rgba(177, 25, 22, 0.5);
}

.kat_delete:hover {
    color: rgba(233, 71, 71, 1);
}

.ny_ukat {
    color: rgba(23, 169, 0, 0.78);
}

.ny_ukat:hover {
    color: rgb(32, 189, 22);
    cursor: pointer;
}

/* BRUKER.php */
#endre_bilde_box, #endre_epost_box, #endre_pass_box, #bruker_info {
    display: none;
}
#bruker_container {
    width: 100%;
    padding: 0 0 10px 10px;
    margin: 0;
    box-sizing: border-box;
    background: #c4c1bc;
}

#bruker_container h2, #endre_pass_box h2, #endre_epost_box h2, #endre_bilde_box h2 {
    margin: 0;
}

#bruker_endringer {
    list-style: none;
    display: block;
    float: left;
    width: 220px;
    padding: 10px 15px 0 0;
    margin: 0;
}

#bruker_endringer li {
    padding: 5px 5px 5px 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.bruker_container_pil:before {
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    float: right;
    margin-left: 200px;
    position: absolute;
    background-color: #6fe02a;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1;
}

#bruker_endringer li:hover{
    background: #6fe02a !important;
}

#bruker_endringer li:nth-child(even) {
    background: #6081bc;
}

#bruker_endringer li:nth-child(odd) {
    background: #4e649b;
}

#bruker_endringer li i {
    width: 16px;
    padding-right: 5px;
}

#bruker_info, #endre_pass_box, #endre_bilde_box, #endre_epost_box {
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    list-style: none;
    float: left;
}

.bruker_info_format {
    display: inline;
}

.bruker_endre_input {
    width: 300px;
    display: block;
    box-shadow: none;
    padding: 10px;
    border: solid 3px #b1b1b1;
    -webkit-transition: border .3s;
    -moz-transition: border .3s;
    -o-transition: border .3s;
    transition: border .3s;
}

.bruker_endre_input:focus {
    outline: none;
    border: solid 3px #60bb80;
}

.type_file_input::-webkit-file-upload-button {
    visibility: hidden;
}

.type_file_input {
    width: 300px;
    display: inline-block;
    background: #60bb80;
    border: solid 2px #3e7c51;
    padding: 5px 8px;
    margin-top: 15px;
    outline: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

#nytt_pass_submitt, #ny_epost_submitt {
    margin-top: 15px;
}

.form_divider {
    padding-top: 15px;
}

/* TRÅD.php */
.traad_mobile {
    display: inline;
}

.traadtop {
    background: #d3d4d8;
    padding: 1px 15px 1px;
    border-radius: 3px 3px 0 0;
}

#traadtable {
    display: table;
    width: 100%;
}

.table-row-group {
    display: table-row-group;
}

.table-row {
    display: table-row;
    padding-bottom: .5em;
    padding-top: .5em;
}

.table-cell {
    display: table-cell;
}

.traadleft {
    width: 150px;
    background: #949494;
    padding: 15px 0 15px 15px;
}

.traadright {
    background: #f2eaec;
    padding: 15px 0 15px 15px;
}

.traadspacer {
    height: 10px;
    background: rgba(50, 184, 0, 0);
}

/* FOOTER */
footer {
    clear: both;
    background: #7fa0e0;
    height: 50px;
    margin-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

/* POSITIONING ELEMENTS */
.position_inherit {
    position: inherit !important;
}

#meldinger, #chat_msg_text, #chat_send, .popup-input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.pad-right {
    padding-right: 7px;
}

.mar-right {
    margin-right: 7px;
}

.mar-bot {
    margin-bottom: 7px;
}

.half {
    width: 50%;
}

.center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.text-center {
    text-align: center;
}

.clear {
    clear: both;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}