/* MEDIA */
@media (min-width: 768px) {
    .container {
        width: 720px
    }

    .traad_mobile {
        display: none;
    }
}

@media (min-width: 992px) {
    .container {
        width: 940px
    }

    .traad_mobile {
        display: none;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px
    }

    .traad_mobile {
        display: none;
    }
}

/* Veldig små enheter */
@media (max-width: 767px) {
    .skjul-liten {
        display: none !important;
    }

    .chatbox-container {
        width: 100% !important;
    }

    .forum.table th.rad-bredde-icon {
        width: 3em !important;
    }
}

@media (max-width: 400px) {
    .registrer-box-success, .registrer-mail-sendt, .registrer-box-loading, #registrer-box, #logginn-box, #registrer-feil, #ny_kat, #slett_kat, #ny_ukat {
        width: 90% !important;
    }

    .popup-divider:first-child {
        margin-top: 15px !important;
    }


    .popup-divider {
        padding-top: 0 !important;
        width: 98%;
    }

    .popup-divider-clear {
        padding-top: 0 !important;
    }

    .popup-divider-half {
        padding-top: 0 !important;
        width: 98% !important;
        float: left !important;
        position: inherit !important
    }

    .popup-input {
        margin-bottom: 18px !important;
    }

    #bnavnErr, #fnavnErr, #enavnErr, #epostErr, #passErr, #passTwoErr {
        margin-top: -17px !important;
        clear: both;
        float: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .skjul-medium {
        display: none !important;
    }

    .chatbox-container {
        width: 100% !important;
    }
}