/* GLOBALS */
html {
    font-family: 'Open Sans', sans-serif;
}


/* CHATBOX */
.chatbox-container {
    width: 64%;
    height: 300px;
}

#meldinger {
    width: 99%;
    height: 80%;
    background: #b9b9b9;
    padding: 5px 5px 5px 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

#chat_laster {
    position: relative;
    display: block;
    top: 100px;
    color: rgba(0, 0, 0, 0.50);

}

.melding_rad {
    clear: both;
}

.melding_rad > p {
    font-size: 0.85em;
    margin: 5px 0 0 0;
}

.chat_bnavn {
    float: left;
    padding-left: 3px;
    margin: 0;
}

.regular {
    color: #168212;
    text-shadow: 0 0 2px rgba(29, 255, 19, 1);
}

.admin {
    font-weight: bold;
    color: rgb(147, 25, 26);
    text-shadow: 0 0 2px #f71822;
}

.chat_msg {
    clear: both;
    float: left;
    width: 80%;
    padding: 0 3px 3px 3px;
}

#chat_msg {
    box-sizing:border-box;
    width: 89%;
    display: block;
    box-shadow: none;
    padding: 10px;
    border: solid 3px #b1b1b1;
    transition: border 0.3s;
}

#chat_send {
    box-sizing:border-box;
    position: relative;
    width: 10%;
    float: right;
    height: 41px;
    padding: 7px 14px;
    background-color: #7fa0e0;
    color: white;
    border: none;
    border-radius: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.chat_footer {
    padding-top: 5px;
}

.chat_dato {
    float: right !important;
}

.chatbox-bottom {
    width: 100%;
}

.chatbox-msg {
    width: 79%;
    height: 20%;
    resize: none;
}

.chat-box-username {
    float: left;
    padding-right: 5px;
}

.chatbox-bottom input {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#chatbox-msg:focus {
    border: 2px solid green;
    transition: border 0.3s;
}

#chatbox-send {
}

/* TEXTAREA */
.textarea {
    width: 34%;
}

/* ALLE TYPER POPUP-BOKSER */
.popup-header {
    height: 30px;
    line-height: 60px;
    width: 93%;
    border-radius: 3px 3px 0 0;
    background: #24313c;
    vertical-align: middle;
}

.registrer-box-success, .registrer-mail-sendt, .registrer-box-loading, #registrer-box, #logginn-box, #registrer-feil, #ny_kat, #slett_kat, #ny_ukat {
    display: none;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 400px;
    border-radius: 3px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
    -moz-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
    -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
    background: #24313c;
}

#ny_ukat {
    height: 370px;
}

#ny_kat {
    height: 185px;
}

#slett_kat {
    height: 160px;
}

#logginn-box {
    z-index: 50 !important;
    height: 250px;
}

#registrer-box {
    z-index: 50 !important;
    height: 450px;
}

#registrer-feil {
    height: 280px;
}

.registrer-box-success {
    height: 250px;
}

.registrer-mail-sendt {
    z-index: 51 !important;
    height: 240px;
}

.registrer-box-loading {
    z-index: 51 !important;
    background: rgba(236, 240, 241, 0.5) !important;
    height: 450px;
}

.opptatt {
    display: block; /* Skal denne være display block??? */
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}

.popup-container {
    width: 90%;
}

.popup-select {
    color: white;
    font-size: 1em;
    width: 100%;
    height: 40px;
    display: block;
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    padding-left: 7px;
    background: #7fa0e0;
}

.popup-select:hover {
    transition: 0.3s;
    background: #5b78b5;
}

.popup-select option {
    font-size: 0.85em;
    background: #6599ff;
}

.popup-input-double:focus {
    outline: none;
    border: solid 3px #60bb80;
}

.popup-input {
    box-sizing: border-box;
    width: 100%;
    display: block;
    box-shadow: none;
    padding: 10px;
    border: solid 3px #b1b1b1;
    transition: border 0.3s;
}

.popup-input:focus {
    outline: none;
    border: solid 3px #60bb80;
}

.popup-divider:first-child {
    padding-top: 10px;
}

.popup-divider, .popup-divider-half {
    padding-top: 25px;
}

.popup-divider-half {
    width: 44%;
    position: inherit;
}

#sjekkBnavn, #sjekkEpost, #bnavnErr, #fnavnErr, #enavnErr, #epostErr, #passErr, #passTwoErr {
    font-size: 0.7em;
    color: #f5f5f5;
    margin: 0;
    padding-top: 8px;
    line-height: 0;
    display: none;
    position: fixed;
    float: left;
}

#sjekkBnavn, #sjekkEpost {
    display: inline-block;
}

#fnavnErr, #enavnErr {
    margin-top: 40px;
}

#registrer_submitt, #logginn_submitt, #ny_kat_submit, #ny_ukat_submit {
    color: white;
    font-size: 1.3em;
    width: 100%;
    height: 40px;
    display: block;
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    background: #1ab188;
    margin-top: 25px;
}

#registrer_submitt:hover, #logginn_submitt:hover, #ny_kat_submit:hover, #ny_kat_submit:hover {
    background: #179b77;
    transition: background 0.3s;
    cursor: pointer;
}

#registrer-avbryt, .registrer-button-lukk, .button-lukk {
    color: white;
    font-size: 1.3em;
    width: 93%;
    height: 40px;
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    background: #c92024;
}

#registrer-avbryt:hover {
    background: #b7080c;
    transition: background 0.3s;
    cursor: pointer;
}

.registrer-button-lukk:hover {
    background: #b7080c;
    transition: background 0.3s;
    cursor: pointer;
}

/* MAIN */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.page-header {
    padding-bottom: 10px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #dbdbdb;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.breadcrumb > li {
    display: inline-block;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.breadcrumb a {
    text-decoration: none;
    color: #aad;
    font-size: .85em;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.clearfix {
    clear: both;
}

.seperator {
    padding-top: 5px;
}

/* ICONS */

.main-table tbody tr td i { /* Forum kategori icons */
    padding-top: 10px;
}
.fa-times {
    padding-top: 15px;
    padding-right: 5px;
    cursor: pointer;
}

.black {
    color: #111111;
}

.green {
    color: #00FF00;
}

.white {
    color: #f5f5f5;
}

.blue {
    color: #3847ff;
}

.cyan {
    color: #1ab188;
}

.red {
    color: #d1080c;
}

.orange {
    color: #FFA500;
}

.purple {
    color: #800080;
}

/* BUTTONS */
.button-std {
    display: inline-block;
    padding: 7px 14px;
    background-color: #7fa0e0;
    color: white;
    border: none;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

/* TEXT */
.link-light {
    color: #99bcff;
}

#logo-text {
    text-decoration: none;
    color: #262626;
}

.text-center {
    text-align: center;
}

th h2 a {
    text-decoration: underline;
    color: #3f45c6;
}

h1 {
    margin: .67em 0;
    font-size: 1.9em;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    font-weight: 400;
    line-height: 1;
    color: #777;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
    font-size: 65%;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    font-size: 75%;
}

/* HR */
.hr-popup {
    background: rgba(127, 160, 224, 0.5);
    border: 0;
    height: 1px;
    width: 93%;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
}

.hr-chat {
    width: 100%;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #dbdbdb;
}

/* FORUM */
table {
    background-color: transparent;
    border-spacing: 0;
}

th {
    background: #bfbfbf;
}

th:nth-child(1) {
    border-radius: 3px 0 0 0;
}

th:nth-last-child(1) {
    border-radius: 0 3px 0 0;
}

th {
    text-align: left
}

thead > tr > th > h3 {
    color: #262626;
}

thead > tr > th {
    color: #262626;
    font-size: .85em;
}

tbody > tr > td > a {
    text-decoration: none;
    color: #4d4d4d;
    font-size: .8em;
}

tbody > tr > td > a:hover {
    text-decoration: underline;
    color: #333333;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.4;
    vertical-align: top;
    border-top: 1px solid #ddd
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd
}

.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
    border-top: 0
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #ddd;
}

.table-striped > tbody > tr:hover {
    background-color: #eee;
}

.forum .fa {
    width: 1em;
    text-align: center;
}

.forum.table th.cell-stat {
    width: 6em;
}

.forum.table th.cell-stat-2x {
    width: 14em;
}

.kat_delete {
    margin-bottom: 35px;
    color: rgba(177, 25, 22, 0.5);
}

.kat_delete:hover {
    color: rgba(233, 71, 71, 1);
}

.ny_ukat {
    color: rgba(23, 169, 0, 0.78);
}

.ny_ukat:hover {
    color: rgb(32, 189, 22);
    cursor: pointer;
}

/* FOOTER */
footer {
    clear: both;
    background: #7fa0e0;
    height: 50px;
    padding-right: 15px;
    padding-left: 15px;
}

/* POSITIONING ELEMENTS */
.pad-right {
    padding-right: 7px;
}

.mar-right {
    margin-right: 7px;
}

.mar-bot {
    margin-bottom: 7px;
}

.half {
    width: 50%;
}

.center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.clear {
    clear: both;
}

.input-pull-left {
    float: left;
    margin-right: 15px;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}